appdirs
audioread
certifi
cffi
chardet
cycler
decorator
idna
imageio
joblib
kiwisolver
librosa
llvmlite
matplotlib
networkx
numba
numpy
packaging
Pillow
pip
pooch
pycparser
pyparsing
python-dateutil
PyWavelets
requests
resampy
scikit-image
scikit-learn
scipy
setuptools
six
SoundFile
threadpoolctl
tifffile
urllib3
wheel

h5py
imbalanced-learn
imblearn
jams
opencv-python
PeakUtils
PyYAML
scaper
torch
torchaudio
tqdm
hydra-core


future
mir-eval
pandas
pytz
